Console_app_test/Connected Services/PrintWebService/PrintWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PrintWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://153.109.124.35:83/BiollazGaillardPWS/PrintWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://153.109.124.35:83/BiollazGaillardPWS/PrintWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://153.109.124.35:83/BiollazGaillardPWS/PrintWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPrintWebService_Print_InputMessage">
    <wsdl:part name="parameters" element="tns:Print" />
  </wsdl:message>
  <wsdl:message name="IPrintWebService_Print_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintResponse" />
  </wsdl:message>
  <wsdl:message name="IPrintWebService_TransferMoneyWithCardId_InputMessage">
    <wsdl:part name="parameters" element="tns:TransferMoneyWithCardId" />
  </wsdl:message>
  <wsdl:message name="IPrintWebService_TransferMoneyWithCardId_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferMoneyWithCardIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPrintWebService_TransferMoneyWithUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:TransferMoneyWithUsername" />
  </wsdl:message>
  <wsdl:message name="IPrintWebService_TransferMoneyWithUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferMoneyWithUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IPrintWebService_GetUserByCardId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByCardId" />
  </wsdl:message>
  <wsdl:message name="IPrintWebService_GetUserByCardId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByCardIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPrintWebService_DebitAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:DebitAccount" />
  </wsdl:message>
  <wsdl:message name="IPrintWebService_DebitAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:DebitAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="IPrintWebService">
    <wsdl:operation name="Print">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintWebService/Print" message="tns:IPrintWebService_Print_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintWebService/PrintResponse" message="tns:IPrintWebService_Print_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransferMoneyWithCardId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintWebService/TransferMoneyWithCardId" message="tns:IPrintWebService_TransferMoneyWithCardId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintWebService/TransferMoneyWithCardIdResponse" message="tns:IPrintWebService_TransferMoneyWithCardId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransferMoneyWithUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintWebService/TransferMoneyWithUsername" message="tns:IPrintWebService_TransferMoneyWithUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintWebService/TransferMoneyWithUsernameResponse" message="tns:IPrintWebService_TransferMoneyWithUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByCardId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintWebService/GetUserByCardId" message="tns:IPrintWebService_GetUserByCardId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintWebService/GetUserByCardIdResponse" message="tns:IPrintWebService_GetUserByCardId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DebitAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintWebService/DebitAccount" message="tns:IPrintWebService_DebitAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintWebService/DebitAccountResponse" message="tns:IPrintWebService_DebitAccount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPrintWebService" type="tns:IPrintWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Print">
      <soap:operation soapAction="http://tempuri.org/IPrintWebService/Print" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferMoneyWithCardId">
      <soap:operation soapAction="http://tempuri.org/IPrintWebService/TransferMoneyWithCardId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferMoneyWithUsername">
      <soap:operation soapAction="http://tempuri.org/IPrintWebService/TransferMoneyWithUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByCardId">
      <soap:operation soapAction="http://tempuri.org/IPrintWebService/GetUserByCardId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DebitAccount">
      <soap:operation soapAction="http://tempuri.org/IPrintWebService/DebitAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrintWebService">
    <wsdl:port name="BasicHttpBinding_IPrintWebService" binding="tns:BasicHttpBinding_IPrintWebService">
      <soap:address location="http://153.109.124.35:83/BiollazGaillardPWS/PrintWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>